.card {
  width: 100%;
  max-width: 350px;
  min-height: 119.14px;
  border-radius: 0 !important;

  &__icon {
    font-size: 48px;
  }

  &__actions {
    &__text {
      &:hover {
        color: #1677ff;
      }
    }
  }
}
